extends layout

block content
  h1= title
  form(id='juiceForm', action="/resource/juice", method="POST")
    div.form-group
      label.juiceAttr(for='Juice_name') Juice name
      input#Juice_name(type='text', name='Juice_name')
    div.form-group
      label.juiceAttr(for='Juice_color') Juice color
      input#Juice_color(type='text', name='Juice_color')
    div.form-group
      label.juiceAttr(for='Juice_cost') Juice cost
      input#Juice_cost(type='number', name='Juice_cost')
    input(type="submit")
  script.
    document.forms['juiceForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle the body
      }).catch((error) => {
        // TODO handle the error
        alert("Save failed " + error)
      });
    });
